# This file is written in HOCON (Human-Optimized Config Object Notation) format.
# For more information about HOCON see
# https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
  e {
    description: Navigation...
    actionId: ActivateProjectToolWindow
  }
  f {
    description: File...
    bindings {
      o {actionId: RecentFiles, description: Recent Files(Find oldfiles)}
      w {actionId: SearchEverywhere, description: Search Everywhere(Live grep)}
    }
  }
  p {
    description: Popup...
    bindings {
      e {actionId: EditorPopupMenu, description: Editor Popup Menu}
      p {actionId: ProjectViewPopupMenu, description: Project View Popup Menu}
      r {actionId: RefactoringMenu, description: Refactoring Menu}
      s {actionId: FileStructurePopup, description: File Structure Popup}
    }
  }
q {
    description: Session...
    bindings {
      a {
        description: Ataman...
        bindings {
          f {actionId: OpenAtamanConfigAction, description: Open ~/.atamanrc.config}
          r {actionId: ReloadAtamanConfigAction, description: Reload from ~/.atamanrc.config}
        }
      }
      p {actionId: WelcomeScreen.Plugins, description: Plugins}
      r {actionId: RestartIde, description: Restart}
      R {actionId: InvalidateCaches, description: Invalidate Caches And Restart}
      q {actionId: CloseProject, description: Close Project}
      Q {actionId: Exit, description: Exit}
    }
  }
  x {
    description: Close Tab
    actionId: CloseEditor
  }
}
