# https://github.com/asdf-vm/asdf-nodejs
nodejs 23.10.0
# https://github.com/jonathanmorley/asdf-pnpm
pnpm 9.15.9
rust 1.85.0
# https://github.com/asdf-community/asdf-deno
deno 2.2.4
pulumi 3.157.0
mysql 8.0.34
# https://github.com/looztra/asdf-k9s
k9s 0.40.9
python 3.11.9
poetry 1.8.4
# https://github.com/nklmilojevic/asdf-lazygit
lazygit 0.48.0
dbmate 2.24.2
awscli 2.22.31
helm 3.16.4
kubectx 0.9.5
# https://github.com/cometkim/asdf-bun
bun 1.2.5
kubectl 1.32.0
eksctl 0.200.0
argocd 2.13.3
zellij 0.41.2
fx 35.0.0
fzf 0.60.3
stern 1.31.0
# https://github.com/asdf-vm/asdf-elixir
elixir 1.18.1-otp-27
# https://github.com/asdf-vm/asdf-erlang
erlang 27.2
# https://github.com/comdotlinux/asdf-lazydocker
lazydocker 0.24.1
# https://github.com/asdf-community/asdf-flutter
flutter 3.29.2-stable
